body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.center-content {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -100vh;
    z-index: 0;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    user-select: none;
    margin-top: 30px;
    text-decoration: none;
}

.logo {
    color: #04f489;
    font-size: 142px;
    font-family: "Climate Crisis", serif;
}

.slogan {
    margin-top: -25px;
    color: #000;
    font-size: 32px;
    font-family: "Climate Crisis", serif;
    font-weight: bold;
}

.interaction-container {
    background-color: #e4e4e4;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: fit-content;
    overflow-y: hidden
}

.input-container {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
}

.link-input {
    font-family: "Roboto", serif;
    font-size: 16px;
    height: auto;
    width: 100%;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-style:solid;
    border-color: #aaa;
    border-width: 2px;
    border-right-width: 0;
    padding-left: 10px;
    color: #000;
    transition: 0.15s;
}

div:hover > .link-input {
    border-color: #0bc773;
}

.link-input:read-only {
    border-color: #04f489 !important;
}

.link-input:focus {
    outline: none;
    border-color: #04f489;
}

.link-input::placeholder {
    color: #aaa;
}

.shorten-button {
    font-family: "Roboto", serif;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    background-color: #04f489;
    border-style: none;
    height: auto;
    width: fit-content;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0px 20px;
    transition: 0.15s;
}

.shorten-text {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

div:hover > .shorten-button {
    background-color: #0bc773;
}

.shorten-button:disabled {
    background-color: #04f489 !important;
}

.result-container {
    padding: 20px 40px;
    width: auto;
    height: fit-content;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.margin-buffer {
    width: 100%;
    height: fit-content;
    min-height: 0px;
}

.qr-image {
    width: 210px;
    height: 210px;
    background-color: #ffffff;
    border-radius: 15px;
    image-rendering: pixelated;
    background-size: cover;
    flex-shrink: 0;
}

.error-message {
    margin-top: 10px;
    margin-bottom: 200px;
    font-family: "Roboto", serif;
    color: #f22;
    font-weight: 450;
    font-size: 16px;
}

.ready-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: auto;
    gap: 20px;
    user-select: none;
}

.link-hitbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 3px;
    user-select: none;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 28px;
    font-weight: 500;
    gap: 5px;
}

.ready-message {
    text-align: right;
    font-family: "Climate Crisis", serif;
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

.ready-message > strong {
    font-size: 30px;
    font-weight: 400;
    color: #04f489;
}

.link-text {
    text-decoration: #000 underline solid;
    font-family: "Roboto", serif;
}

.copy-scroll {
    font-family: "Roboto", serif;
    font-size: 14px;
    height: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: #00000080;
}

.copy-text {
    transition: 0.2s;
}

.icon-scroll {
    width: 28px;
    height: 28px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.icon {
    width: 28px;
    height: 28px;
    transition: 0.2s;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #fff;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }
